doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Contact Details
  // <link rel="stylesheet" href="/mycvproject/style.css">
  link(rel='stylesheet' href='../static/contactstyle44.css')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel='icon' type='image/x-icon' href = "../static/somaiyalogo.png")
  link(href='https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap' rel='stylesheet')
.navbar
  .logoimagebox
    img.logoimagebox(src='../static/somaiyalogo.png' alt='Logo')
  ul
    li
      a(href='/index' target='_self') Home
    li
      a(href='/login' target='_self') Login
    // <li><a href= "#">About Institute</a></li>
    li
      a.active(href='/contact') Contact Us 
.head
  .maintopheading
    strong
      | Contact Us !
.head2
  h2 Fill your contact details
.imp
  em
    | All fields are mandatory *
// div.main-form/
.main-form
  form(action='/' ,='' method='POST')
    .name-box
      // <strong>Name * </strong>
      input#name(type='text' name='name' placeholder='Enter your name' required='')
    .email-box
      // <strong>Email * </strong>
      input#email(type='email' name='email' placeholder='Enter your Email' required='')
    .phone-box
      // <strong>Phone * </strong>
      input#phonenumeber(type='number' name='phone' placeholder='Enter your number' required='')
    .query-box
      // <strong>Explain your queries :</strong>
      textarea#query(name='problem' cols='32' rows='6' required='' placeholder='Explain all your issues here :)')
    .submit-reset
      .submit
        input(type='submit' value='Submit')
      .reset
        input(type='reset' value='Reset')
footer
  .mainfooter
    .handandcopy
      .handles
        .insta
          a(href='https://www.instagram.com/kjsieit_22/' target='_blank')
            img(src='../static/instagramlogo.png' alt='Insta Logo')
        .facebook
          a(href='https://www.facebook.com/kjsieitofficial' target='_blank')
            img(src='../static/facebook logo.png' alt='facebook Logo')
        .linkedin
          a(href='https://www.linkedin.com/in/kjsieit/' target='_blank')
            img(src='../static/linkedinlogo.png' alt='Linked In Logo')
        .youtube
          a(href='https://www.youtube.com/kjsieitofficial' target='_blank')
            img(src='../static/youtubelogo.png' alt='You Tube Logo')
        .twitter
          a(href='https://twitter.com/kjsieit1' target='_blank')
            img(src='../static/twitter logo.png' alt='Twitter Logo')
      .copyright
        h2
          strong
            | Copyright &copy; www.kjsieitstudentscorner.com | All rights reserved.
    .credits
      h2
        | Developed by 
        a(href='https://www.linkedin.com/in/pruthviraj-patil-a76962210/' target='_blank') Pruthviraj Patil 
        a(href='' target='_blank') Satyam Singh
        a(href='' target='_blank') Prajyot Shende
