doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title KJSIEIT Student&apos;s corner
  link(rel='stylesheet' href='../static/aboutstyle.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel='icon' type='image/x-icon' href = "../static/somaiyalogo.png")
  link(href='https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap' rel='stylesheet')
.head
  .imagebox
    image(src='../static/somaiyalogo.png' alt='Logo')
  .heading  Welcome to the Student&apos;s Corner of K.J.S.I.E.I.T
.navbar
  li
    a.active(href='/index') Home
  li
    a(href='/login' target='_self') Login
  // <li><a href= "#">About Institute</a></li>
  li
    a(href='/contact' target='_self') Contact Us 
.information
  h2
    b  About K. J. Somaiya Institute of Engineering and Information Technology, Sion
  p
    | This second Engineering College established by the Somaiya Trust in the year 2001, at Ayurvihar campus, Sion, was initiated with a first batch of 180 undergraduate students and three branches in Engineering&mdash;namely Electronics and
    | Telecommunication Engineering, Computer Engineering, and Information Technology.
  h2
    b
      | Vision of the Insitute:
  p
    | Subsequently, The Electronics Department was founded in the year 2004 and since then the Institute has strived towards providing the necessary dynamism to all its stakeholders in the light of expanding knowledge and changing socio-economic
    | requirements of the modern society.
  h2
    b
      | Mission of the Institute :
  p
    li
      | To provide students with a thorough knowledge of engineering to refine their professional skills.
    li
      | To nurture creativity and innovation while encouraging multidisciplinary interaction.
    li
      | To train students to be industry ready and capable of working effectively as an individual and in team.
    li To inculcate ethical behaviour, responsibility and commitment among students.
  h2
    b
      | Objectives :
  p
    li
      | To focus on persistent improvement in processes related to teaching, learning and evaluation and to promote a culture of research and development among staff and students.
    li
      | To develop technical and interpersonal skills so that the students translate knowledge into action contributing to the benefit of the society.
    li
      | To enhance the learning experience of students by honing versatility through diverse activities.
hr
.founder-heading
  strong Our Founder
.founder
  .imagefounder
    img(src='../static/founder.png' alt='Our Founder')
    .foundername
      h2
        | PADMA BHUSHAN K.J. SOMAIYA
  .infofounder
    h2
      b
        blockquote
          | &ldquo;Whatever you do in word or in deed,
          br
          |             do all the Name of Lord, Giving Thanks to Him.&rdquo;
    p
      | It&rsquo;s no small achievement to distinguish oneself in such diverse fields as commerce, education, and philanthropy. Pujya Shriman Karamshibhai Jethabhai Somaiya, born on May 16 1902 in the remote village of Malunjar in Ahmednagar district of
      | Maharashtra, India, was however, a blessed person by dint of hard work and singular devotion to service.
footer
  .mainfooter
    .handandcopy
      .handles
        .insta
          a(href='https://www.instagram.com/kjsieit_22/' target='_blank')
            img(src='../static/instagramlogo.png' alt='Insta Logo')
        .facebook
          a(href='https://www.facebook.com/kjsieitofficial' target='_blank')
            img(src='../static/facebook logo.png' alt='facebook Logo')
        .linkedin
          a(href='https://www.linkedin.com/in/kjsieit/' target='_blank')
            img(src='../static/linkedinlogo.png' alt='Linked In Logo')
        .youtube
          a(href='https://www.youtube.com/kjsieitofficial' target='_blank')
            img(src='../static/youtubelogo.png' alt='You Tube Logo')
        .twitter
          a(href='https://twitter.com/kjsieit1' target='_blank')
            img(src='../static/twitter logo.png' alt='Twitter Logo')
      .copyright
        h2
          strong
            | Copyright &copy; www.kjsieitstudentscorner.com | All rights reserved.
    .credits
      h2
        | Developed by 
        a(href='https://www.linkedin.com/in/pruthviraj-patil-a76962210/' target='_blank') Pruthviraj Patil 
        a(href='' target='_blank') Satyam Singh
        a(href='' target='_blank') Prajyot Shende
