@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kirang+Haerang&family=Oswald:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  /* background: url("contactbg.jpg") no-repeat center center fixed;
  background-size: cover; */
  background-color: rgb(83, 78, 78);
   height: 1200px;

}

.head {
  margin-top: 7px;
  /* font-family: 'Kirang Haerang', cursive;   */
  display: flex;
  /* border: 2px solid black; */
  /* align-items: center;
  text-align: center; */
  justify-content: center;
  margin-bottom: 20px;
}
.maintopheading{
  font-family: "Bebas Neue", cursive;
  font-size: 45px;
  /* border: 3px solid green; */
  margin-left: -192px;
  padding-top: 20px;
  text-decoration: underline;
  color: rgb(5, 4, 4);


}
.maintopheading strong:hover{
  color: rgb(29, 2, 2);
  cursor: pointer;
}
.logoimagebox img{
  width: 110px ;
  height: 110px;
  border-radius: 15px;
}
.logoimagebox{
  margin-right: 430px;
  margin-left: -362px;
}
.head2 {
  width: 30%;
  font-family: "Kirang Haerang", cursive;
  background-color: cornsilk;
  /* border: 2px solid orange; */
  margin: 23px 23px;
  align-items: center;
  font-size: 20px;
  padding: 12px 12px;
  color: rgb(15, 14, 14);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 28px;
  text-align: center;
  border-radius: 42px;
}
.navbar{
  background-color: white;

  font-family: 'Bebas Neue', cursive;
  border: 4px solid red;
  display: flex;
  justify-content: right;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 12px;
 margin-right: 12px;
 border-radius: 30px;
  list-style: none;
  padding-right: 20px;

 
} 
.navbar li{
  padding: 12px 12px;
}
.navbar li a{
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 30px;
  
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: rgb(221, 41, 71);

}
.imp{
  font-size: 22px;
  /* border: 2px solid rebeccapurple; */
  padding: 12px 12px;
  color: yellow;
}
.main-form{
  background-color: rgb(211, 241, 219);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 68%;
  margin-left: 200px;
  height: 530px;
  padding: 20px 20px;
  margin-top: 70px;
  align-items: center;
  border: 6px solid rgb(238, 22, 22);
  border-radius: 17px;
}
.main-form strong{
  font-size: 31px;
}
input[type="text" i] {
  margin-left: 86px;
  font-size: 22px;
  border-radius: 12px;
  background: none;
  color: brown;
  text-align: center;
  border: 4px solid rgb(3, 3, 3);


  width: 420px;
  height: 42px;
}
.name-box{
  margin-top: 8px;
}
.email-box{
  margin-top: 8px;
}
.phone-box{
  margin-top: 8px;
}
.submit-reset{
  margin-top: 8px;
}
input[type="email" i] {
  margin-left: 86px;
  font-size: 22px;
  border-radius: 12px;
  background: none;
  color: brown;
  text-align: center;
  border: 4px solid rgb(3, 3, 3);


  width: 420px;
  height: 42px;
}
input[type="number" i] {
  margin-left: 86px;
  font-size: 22px;
  border-radius: 12px;
  background: none;
  color: brown;
  text-align: center;
  border: 4px solid rgb(3, 3, 3);


  width: 420px;
  height: 42px;
}
input[type="submit" i] {
  color: black;
 cursor: pointer;
 font-size: 21px;
 border-radius: 12px;
 border: 3px solid rgb(3, 3, 3);
 background-color: rgb(109, 179, 109);
 height: 44px;
  width: 84px;

}
input[type="reset" i] {
  color: black;
  cursor: pointer;
  font-size: 21px;
  margin-left: 20px;
  background-color: rgb(109, 179, 109);
 border: 3px solid rgb(3, 3, 3);

  border-radius: 12px;
  height: 44px;
  width: 84px;
 
}
input[type="submit" i]:hover {
background-color: black;
color: white;
 
}
input[type="reset" i]:hover {
  background-color: black;
  color: white;
     
    }
.submit-reset{
  /* border: 2px solid blueviolet; */
  display: flex;
}

.query-box{
  /* border : blueviolet; */
  /* border: 2px solid blueviolet; */
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 12px;

}
textarea{
  margin-top: 20px;
  border: 4px solid blueviolet;
  text-align: center;
  font-size: 22px;
  border-radius: 14px;
  background-color: none;
  background: none;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}
footer{
  /* display: flex; */
  background-color: rgb(9, 10, 10);
    color: rgb(199, 167, 26);
  height: 127px;
  width: 1359px;
  margin-top: 200px;
  /* margin-bottom: 0px; */
  margin-left: -10px;
  margin-right: -7px;
  margin-top: 300px;
}
.handandcopy{
/* border: 2px solid honeydew; */
margin-top: 12px;
padding: 12px 12px  ;
width : 1276px;
display: flex;
margin-left: 9px;
}
.handles{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin-left: -6px;
  height: 50px;
  width: 350px;
  margin-top: -8px;
  font-size: 30px;

  /* border: 2px solid red; */
}
.copyright{
  margin-left: 250px;
  margin-top: -6px;
  font-size: 14px;
  height: 61px;
  width: 650px;
  /* color: blanchedalmond; */
  /* border: 2px solid blue; */

}

.insta a img:hover{
  opacity: 0.7;
  width: 55px;
  height: 55px;
}
.facebook a img:hover{
  opacity: 0.7;
  width: 44px;
  height: 40px;
}
.linkedin a img:hover{
  opacity: 0.7;
  width: 37px;
  height: 37px;
}
.youtube a img:hover{
  opacity: 0.7;
  width: 66px;
  height: 40px;
}
.twitter a img:hover{
  opacity: 0.7;
  width: 50px;
  height: 50px;
}
.insta a img{
  /* opacity: 0.7; */
  margin-top: -8px;
  width: 54px;
  height: 54px;
}
.facebook a img{
  width: 42px;
  height: 38px;
  margin-right: 10px;
  margin-top: 0px;
}
.linkedin a img{
  /* opacity: 0.7; */
  width: 32px;
  height: 32px;
}
.youtube a img{
  /* opacity: 0.7; */
  width: 62px;
  height: 38px;
}
.twitter a img{
  /* opacity: 0.7; */
  width: 45px;
  height: 45px;
}

.mainfooter{
  display: block;
  /* border: 2px solid red; */
}
.credits{
  height: 56px;
  margin-top: -18px;
  margin-left: 248px;
  margin-right: 18px;
  margin-bottom: 13px;
  /* border: 2px solid hotpink; */
  padding: -1px 1px;
  padding: 1px 1px;
}
.credits a:hover{
  color: brown;
  font-size: 25px;
}
.credits a{
  color: rgb(24, 119, 244);
}